* {
  /* outline: 1px solid red; */
}

html,
body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
}

.App {
  /* background-color: white; */
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0 auto;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  /* margin: 0 auto; */
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    margin-bottom: 22px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
}
